# langchain core
langchain
langchain-core
langchain-community
langchain-text-splitters

# Groq Integration
langchain-groq

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# HuggingFace Integration
langchain-huggingface
transformers
sentence-transformers
huggingface-hub

# Environmental variable management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn
pandas
matplotlib
seaborn

# Deep Learning Utilities
torch
torchvision

# User Interface Utilities
streamlit

# for structured output
pydantic

# Jupyter Notebook Utilities
ipykernel

# tikenization Utilities
tiktoken

# Vectore Store
chromadb
faiss-cpu
langchain-chroma